# Caddyfile (Versi Hardcode)
{
    email praktekgcolab@gmail.com
}

n8n.jedasejenak.live {
    reverse_proxy n8n:5678
}

baserow.jedasejenak.live {
    reverse_proxy baserow:80
}

minio.jedasejenak.live {
    reverse_proxy minio:9000
}

minio-console.jedasejenak.live {
    reverse_proxy minio:9001
}